BOT_TOKEN=
ADMIN_USERNAME=qhaith
DATABASE_PATH=data/bot.db
TEMP_DIR=data/temp
CHANNEL_USERNAME=mcqthr
CHANNEL_LINK=https://t.me/mcqthr
CHANNEL_REQUIRED=1

SUPABASE_URL=https://qusavnejgrcxuuyunrry.supabase.co
SUPABASE_SECRET_KEY=
