BOT_TOKEN=
ADMIN_USERNAME=qhaith
DATABASE_PATH=data/bot.db
TEMP_DIR=data/temp
CHANNEL_USERNAME=mcqthr
CHANNEL_LINK=https://t.me/mcqthr
CHANNEL_REQUIRED=1

# اتركها فارغة ليستخدم SQLite على السيرفر
SUPABASE_URL=
SUPABASE_SECRET_KEY=
USE_OFFLINE_TRANSLATE=1
FILE_TRANSLATE_MODE=dual
FILE_TRANSLATE_LOCAL=1
TESSERACT_CMD=/usr/bin/tesseract
TELEGRAM_READ_TIMEOUT=1200
TELEGRAM_WRITE_TIMEOUT=1200
